<hr>
 
<h1 class="headingdot">Buttons</h1>
<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<hr>
<h1 class="headingdot"> Button Toggles </h1>
<mat-button-toggle value="bold" #state>Bold</mat-button-toggle>
{{state.checked}}
<!-- to disable the ripple in button  -->
<mat-button-toggle value="bold" #state2 disableRipple>Bold</mat-button-toggle>
{{state2.checked}}
<!-- to disable the button  -->
<mat-button-toggle value="bold" #state3 disableRipple disabled>Bold</mat-button-toggle>
{{state3.checked}}

<!-- here multiple can be used to store value and fixed by removinig multiple we get single value and
    checked and disabled are used for our usage  note ** matButtonToggleGroup must -->
<mat-button-toggle-group #group="matButtonToggleGroup" multiple>
  <mat-button-toggle value="left" aria-label="Text align left">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center" aria-label="Text align center">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right" checked aria-label="Text align right">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="justify" disabled aria-label="Text align justify">
    <mat-icon>format_align_justify</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<div> Selected value: {{group.value}}</div>

<!-- we can get icons in https://material.io/resources/icons/?icon=content_copy&style we just copy and paste names  
in mat icon tag  -->
<hr>
<h1 class="headingdot">Icons</h1>
<mat-icon color="warn">change_circle_mode</mat-icon>
<mat-icon color="warn">content_cut</mat-icon>
<mat-icon color="warn">file_copy</mat-icon>
<hr>
<h1 class="headingdot">Badges</h1>
<p>
  <span matBadge="9" matBadgeSize="large" matBadgeOverlap="false">Notifications</span>
</p>

<p>
  <span matBadge="9" matBadgeSize="small" matBadgePosition="below after" matBadgeOverlap="false">Notifications</span>
</p>
<!-- binding the value  -->
<p>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications===0" matBadgeSize="small"
    matBadgePosition="below after" matBadgeOverlap="false">Notifications</span>
</p>
<p>
  <span matBadge="1" matBadgeSize="large">Text with large badge</span>
</p>
<p>
  Button with a badge on the left
  <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</p>
<p>
  Button toggles badge visibility
  <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
    Hide
  </button>
</p>
<p>
  Icon with a badge
  <mat-icon matBadge="15 ">home</mat-icon>
  <!-- Include text description of the icon's meaning for screen-readers -->
  <span class="cdk-visually-hidden">
    Example with a home icon with overlaid badge showing the number 15
  </span>
  <span matBadge="7">
    Example with a home icon with overlaid badge showing the number 15
  </span>
</p>
<hr>
<h1 class="headingdot">Progresses Spinner</h1>
<div>
  <mat-progress-spinner value="70"> </mat-progress-spinner>
</div>
<div>
  <mat-spinner></mat-spinner>
  <!-- <mat-spinner color="warn"></mat-spinner>
  <mat-spinner color="accent"></mat-spinner>  -->
  <mat-spinner *ngIf="ShowSpinner" color="primary"></mat-spinner>
  <button mat-raised-button color="warn" (click)="loadData();">Load Data </button>
</div>
<hr>
<h1 class="headingdot">NavBar Or ToolBar</h1>
<mat-toolbar color="warn" class="nav-bar">
  <!-- We are using Side nav in nav bar  -->
  <button mat-button (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>
  <div>NavBar or ToolBar</div>
  <div>
    <button mat-button>Home</button>
    <button mat-button [matMenuTriggerFor]="servicesMenu">About Us</button>
    <button mat-button>Contact Us</button>
    <button mat-button (click)="profile()" routerLink="/profile">Profile</button>
    <button mat-button [matMenuTriggerFor]="logout">LogOut</button>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side" [(opened)]="opened">
    <!-- we used lists in side nav component we can also use mode="push" and mode="over"-->
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon>home</mat-icon>Home
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon>security</mat-icon>Security
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon>book</mat-icon>Contact
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-grid-list cols="3" rowHeight="600px" gutterSize="5px">
      <mat-grid-tile>
        <!-- accordion is used for column wise and multi used for open two at a time 
        hideToggle is used for hide the dropdown Button -->
        <mat-accordion multi="true" hideToggle>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Scam 1992 season 1-4
              </mat-panel-title>
              <mat-panel-description>
                Total No Of minutes : 250 mins
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the panel content describes course details </p>
            <mat-action-row>
              <button mat-raised-button color="warn">Register</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Scam 1992 season 5-10
              </mat-panel-title>
              <mat-panel-description>
                Total No Of minutes : 330 mins
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the panel content describes course details </p>
            <mat-action-row>
              <button mat-raised-button color="warn">Register</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: violet;">
        <mat-accordion multi="true" hideToggle>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Aha Monthly Subscription
              </mat-panel-title>
              <mat-panel-description>
                Price : 160/-
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the panel content describes course details </p>
            <mat-action-row>
              <button mat-raised-button color="primary">Register</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Aha Yearly Subscription
              </mat-panel-title>
              <mat-panel-description>
                Price : 1300/-
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the panel content describes course details </p>
            <mat-action-row>
              <button mat-raised-button color="accent">Register</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-grid-tile>
      <mat-grid-tile> 
        <app-profile *ngIf="openprofile" ></app-profile>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" style="background-color: black;"> tile 3</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile style="background-color: orange;">
        <mat-tab-group #tabinfo (selectedTabChange)="mychange(tabinfo.selectedIndex)">
          <mat-tab label="India"> India</mat-tab>
          <mat-tab label="USA"> USA</mat-tab>
          <mat-tab label="Florida">Florida</mat-tab>
          <mat-tab label="NewYork">NewYork</mat-tab>
          <mat-tab label="Uganda">Uganda</mat-tab>
        </mat-tab-group>
      </mat-grid-tile>
    </mat-grid-list>
    <div>
      <h1>
        <!-- <span style="color: black;">{{tabinfo.selectedIndex}}</span> -->
      </h1>
    </div>
    <mat-grid-list cols="1" rowHeight="600px">
      <mat-grid-tile>
        <mat-horizontal-stepper linear>
          <mat-step label="My Details" completed=true>
            <p>My Details</p>
          </mat-step>
          <mat-step label="My Bio" completed=false>
            <p>Mycds Bio</p>
            <div>
              <button mat-raised-button color="warn" matStepperPrevious>Back </button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Hobbies" completed=false>
            <p>Hobbies</p>
          </mat-step>
        </mat-horizontal-stepper>
        <mat-vertical-stepper linear>
          <mat-step label="My Details" completed=true>
            <p>My Details</p>
          </mat-step>
          <mat-step label="My Bio" completed=false>
            <p>Mycds Bio</p>
            <div>
              <button mat-raised-button color="warn" matStepperPrevious>Back </button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Hobbies" completed=false>
            <p>Hobbies</p>
          </mat-step>
        </mat-vertical-stepper>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list style="background-color: blueviolet;" cols="6" rowHeight="300px">
      <mat-grid-tile>
        <mat-form-field floatLabel="never" appearance="standard">
          <mat-label>Name</mat-label>
          <input type="text" matInput color="warn">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field floatLabel="auto" appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput color="warn">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field floatLabel="always" appearance="legacy">
          <mat-label>Name</mat-label>
          <input type="text" matInput color="warn" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" matInput color="warn" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Dishes</mat-label>
          <mat-select [(value)]="mySelectedValue">
            <mat-option value="biryani">Biryani</mat-option>
            <mat-option value="tamato">Tamato Rice</mat-option>
            <mat-option value="aalukurma">Aalu kurma </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <h1>My selected Value is: {{mySelectedValue}}</h1>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>items</mat-label>
          <mat-select [(value)]="mySelectedValue2" multiple>
            <mat-optgroup label="Spicy">
            <mat-option value="birayani">Biryani</mat-option>
            <mat-option value="tamato">Tamato Rice</mat-option>
            <mat-option value="aalukurma">Aalu kurma </mat-option>
          </mat-optgroup>
          <mat-optgroup label="tiffin">
            <mat-option value="Idly">Idly</mat-option>
            <mat-option value="Puri">Puri</mat-option>
            <mat-option value="Wada">Wada </mat-option>
          </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <h1>My selected Value is: {{mySelectedValue2}}</h1>


    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
<!-- We are using menu in navbar or toolbar  -->
<mat-menu #servicesMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="sideoptions">Front End</button>
  <button mat-menu-item>Back End</button>
</mat-menu>
<mat-menu #sideoptions="matMenu">
  <button mat-menu-item>option 1</button>
  <button mat-menu-item>option 2</button>
  <button mat-menu-item>option 3</button>
</mat-menu>
<mat-menu #logout="matMenu">
  <button mat-menu-item>Logout - {{username}}</button>
</mat-menu>
<hr>
<h1 class="headingdot">Input</h1>
<div style="background-color: black;">
  <mat-form-field floatLabel="auto">
    <mat-label>Name</mat-label>
    <input type="text" matInput color="warn">
  </mat-form-field>
  <mat-form-field floatLabel="never" appearance="standard">
    <mat-label>Name</mat-label>
    <input type="text" matInput color="accent">
  </mat-form-field>
  <mat-form-field floatLabel="auto" appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" matInput color="primary">
  </mat-form-field>
  <mat-form-field floatLabel="always" appearance="legacy">
    <mat-label>Name</mat-label>
    <input type="text" matInput color="warn" required>
  </mat-form-field>
  <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput color="warn" required>
  </mat-form-field>
</div>
<mat-label>Name</mat-label>
<input type="text" matInput color="warn" required>
<hr>
<h1 class="headingdot">Checkbox and Radio Buttons</h1>
<div>
  <mat-checkbox color="warn">
    ok yaar 
  </mat-checkbox>
  <br>
  <mat-checkbox color="warn" labelPosition="before">
    ok yaar 
  </mat-checkbox>
</div>
<mat-radio-group multiple style="background-color: pink;"  >
  <mat-label> Games </mat-label><br>
  <mat-radio-button color="warn"  value="cricket">Cricket  </mat-radio-button><br>
  <mat-radio-button value="Ball">Volley Ball  </mat-radio-button><br>
  <mat-radio-button value="Carromm">Carrom</mat-radio-button>
</mat-radio-group>

<hr>
<h1 class="headingdot">Date Picker</h1>
<!-- we also need to import MatNativeDateModule  -->
  
<!-- we can use any one Date picker with min date or custom date  -->
<!-- <div>
  <mat-form-field appearance="fill" style="background-color: greenyellow;">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div> -->
<!-- <div>
  <mat-form-field appearance="fill" style="background-color: greenyellow;">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div> -->
<!-- Disable particular days  -->
<div>
  <mat-form-field appearance="fill" style="background-color: greenyellow;">
    <mat-label>Choose a date</mat-label>
    <!-- [matDatepickerFilter]="dateFilter" insert this in input box  -->
    <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
</div>

<hr>
<h1 class="headingdot">Tool Tip</h1>
<button mat-raised-button color="accent" matTooltipPosition="below" matTooltip="Yes u hovered"> Below </button>

<button mat-raised-button color="accent" matTooltipPosition="above" matTooltip="Yes u hovered"> Above </button>

<br>
<button mat-raised-button color="accent" style="margin-left: 200px;" matTooltipPosition="after" matTooltip="Yes u hovered"> after </button>
<br>
<button mat-raised-button color="accent" style="margin-left: 300px;" matTooltipPosition="before" matTooltip="Yes u hovered"> Before </button><br>
<button mat-raised-button color="accent" style="margin-left: 300px;" matTooltipShowDelay="1000"  matTooltipHideDelay="5000" matTooltipPosition="before"  matTooltip="Yes u hovered"> Delay </button>
<br>  
<hr>
<h1 class="headingdot">Snack bar</h1><hr>
<div   >
<button mat-raised-button (click)="openSnackBar('hi this is snack bar','Dismiss')"> show snackbar </button>
</div> 

<hr>
<h1 class="headingdot"> Dialog</h1>
<!-- To work the dialog , we need to create a component and specify it in entryComponents   -->
<button mat-raised-button (click)="openDialog()"> Open Dialog</button>

<hr>
<h1 class="headingdot"> Table</h1>
 

<mat-form-field style="background-color: blue; margin-left: 600px;" >
  <input type="text" (keyup)="applyFilter($event)" matInput placeholder="Filter" >
</mat-form-field>
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column  mat-sort-header is used to sort  the elements-->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->

  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<!-- pagination is used for displaying the rows and columns in table -->
<mat-paginator [pageSizeOptions]="[3,6,9,12,15,18,21]" showFirstLastButtons></mat-paginator>

<!-- virtual scrolling is used to load the data , when user scroll to get the content   -->
<!-- <cdk-virtual-scroll-viewpoint itemSize="50">
  <div *ngFor="let x of numbers" class="numberStyle">
    {{ x }}
    </div>
    
</cdk-virtual-scroll-viewpoint> -->
<!-- 
<router-outlet></router-outlet> -->