<mat-card class="myCard">
<mat-card-header>
    <div mat-card-avatar class="headerImage"> </div>
    <mat-card-title>Krishna Vamshi</mat-card-title>
    <mat-card-subtitle>Lorem ipsum dolor sit  </mat-card-subtitle>
</mat-card-header>
<img  mat-card-image src='../../assets/images/DSC00077.JPG'  alt="Vamshi Pic"> 
<mat-card-content>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sed iusto ullam maxime, optio esse dignissimos quisquam natus eum! Distinctio?
    </p>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="warn">Like</button>
    <button mat-raised-button color="primary">Comment</button>
</mat-card-actions>
</mat-card>
 
